apiVersion: pkg.crossplane.io/v1beta1
kind: DeploymentRuntimeConfig
metadata:
  name: xfn-mcoidc
spec:
  deploymentTemplate:
    spec:
      selector: {}
      template:
        spec:
          containers:
            - name: package-runtime
              args:
                - "--debug"
              volumeMounts:
                - mountPath: /var/run/secrets/eks.amazonaws.com/serviceaccount
                  name: aws-iam-token
                  readOnly: true
              env:
                - name: AWS_REGION
                  value: eu-west-2
          serviceAccountName: xfn-mcoidc
          volumes:
            - name: aws-iam-token
              projected:
                defaultMode: 420
                sources:
                - serviceAccountToken:
                    audience: sts.amazonaws.com
                    expirationSeconds: 86400
                    path: token
---
apiVersion: v1
kind: ServiceAccount
metadata:
  name: xfn-mcoidc
  namespace: crossplane
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: xfn-mcoidc
  namespace: crossplane
rules:
- apiGroups:
  - aws.upbound.io
  resources:
  - providerconfigs
  verbs:
  - get
  - list
- apiGroups:
  - infrastructure.cluster.x-k8s.io
  resources:
  - awsclusters
  - awsmanagedclusters
  verbs:
  - get
  - list
- apiGroups:
  - iam.aws.upbound.io
  resources:
  - openidconnectproviders
  verbs:
  - get
  - list
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: xfn-mcoidc
  namespace: crossplane
subjects:
- kind: ServiceAccount
  name: xfn-mcoidc
  namespace: crossplane
roleRef:
  kind: ClusterRole
  name: xfn-mcoidc
